.rct-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rct-header-root {
  border-top-left-radius: 6px;
}

.rct-calendar-header,
.rct-header-root {
  border-top-right-radius: 6px;
}

div.rct-sidebar-row {
  padding-left: 8px !important;
}
