.timeline {
  margin-bottom: 32px;
}

.calendarHeader {
}

.dateHeader {
  background-color: white;
  span {
    color: black;
  }
}

.calendarLeftPanel {
  background-color: #ed6c02;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-top-left-radius: 6px;
}
