.dialog {
  padding: 24px 24px 8px;

  h2.title {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 16px;
  }

  div.datePicker {
    margin: 8px 0;
  }

  &__closeButton {
    margin-left: 30px;
  }

  button.sendButton {
    margin: 24px auto;
    align-self: center;
  }

  .errorMessage {
    font-size: 12px;
    color: $red500;
  }
}
