.login {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 240px;
  height: 240px;
  margin-bottom: 32px;
}

.input {
  width: 280px;
  margin-bottom: 24px;
}

.signUpLine {
  font-size: 12px;
}

.buttons {
}
