.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topActions {
  margin: 24px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacationActions {
  display: flex;
  gap: 12px;
}

.invitation {
  display: flex;
  align-items: center;
  gap: 18px;

  &__label {
    font-size: 16px;
    font-weight: 500;
  }

  &__input {
    width: 240px;
    input {
      padding: 6px;
    }
  }
}

.requestTable {
  margin-bottom: 30px;
}

.listTitle {
  text-align: center;
}

.pageTitle {
  font-size: 18px;
  color: $warning;
}

.link {
  color: $indigo600;
  text-decoration: none;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
  }
}

.requestTable {
  margin-top: 16px;

  .cellContent {
    overflow-wrap: normal;
  }
}

.cell {
  padding: 0 !important;
}

.PENDING {
  background-color: $warning !important;
}

.APPROVED {
  background-color: $green500 !important;
}

.DECLINED {
  background-color: $red600 !important;
}
