.dialog {
  width: 400px;
  max-height: 500px;
  padding: 12px;
}

h2.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.item {
  display: flex;
  justify-content: space-between;

  & > div {
    @include text-ellipsis;
  }
}

button.closeButton {
  padding: 4px;
}
