.vacationItem {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.mobile {
  display: flex;
  align-items: center;
}

.firstRow {

}

.secondRow {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

button.delete {
  margin-left: auto;
}
